<div class="dashboard">
	<div class="tiles">
		<div class="tile" id="dict">
			<a routerLink="/dict">
				<div class="link">
					Vokabelheft
				</div>
			</a>
		</div>
		<div class="tile" id="grammar">
			<a routerLink="/account">
				<div class="link">
					Grammatik
				</div>
			</a>
		</div>
		<div class="tile" id="test">
			<a routerLink="/test">
				<div class="link">
					Übungen
				</div>
			</a>
		</div>
		<div class="tile" id="materials">
			<a routerLink="/materials">
				<div class="link">
					Materialsammlung
				</div>
			</a>
		</div>
	</div>
</div>