.tile {
	border-radius: 8px;
	width:300px;
	height:150px;
	display: inline-table;
	margin-right: 4px;
}
.tile:nth-of-type(1) {
	margin-left: 4px;
}
.tile:hover {
	width: 310px;
	height: 160px;
	cursor: pointer;
	padding-top:4px;
}
.tile:not(hover) {
	padding-top:0px;
}
.dashboard {
	display: inline-block;
}
.link {
	vertical-align: middle;
	text-align: center;
	line-height: 150px;
	font-size: 150%
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
#dict {
	background-color: #026db2;
}
#grammar {
	background-color: #f58025;
}
#test {
	background-color: #9b599a;
}
#materials {
	background-color: #8b9f20;
}
