<form>
  <div id="german-div" class="label-input-div">
    <label for="germanAdj">Deutsches Wort:</label>
    <input type="text" id="germanAdj">
  </div>
  <div id="otherLang-div" class="label-input-div">
    <label for="otherLangAdj">Übersetzung:</label>
    <input type="text" id="otherLangAdj">
  </div>
  <div id="category-div" class="label-input-div">
    <label for="category">Kategorie:</label>
    <select id="categoryAdj">
      <option disabled selected value> Kategorie wählen </option>
      <option *ngFor="let category of categories| keys"
          [value]="category.value.name">
        {{category.value.name}}
      </option>
    </select>
  </div>
  <div id="submit-div" class="label-input-div">
    <label for="submit"></label>
    <input type="submit" id="submit" value="Absenden">
  </div>
</form>