<form>
  <div id="verbtype-div" class="label-input-div">
      <label for="verbtype">Verbart:</label>
      <select id="verbtype">
        <option disabled selected value> Verbform wählen </option>
        <option value="regelmaeßig">
          Regelmäßiges Verb
        </option>
        <option value="unregelmaeßig">
          Unregelmäßiges Verb
        </option>
        <option value="stark">
          Starkes Verb
        </option>
      </select>
    </div> 
  <div id="german-div" class="label-input-div">
    <label for="germanVer">Deutsches Wort:</label>
    <input type="text" id="germanVer">
  </div>
  <div id="otherLang-div" class="label-input-div">
    <label for="otherLangVer">Übersetzung:</label>
    <input type="text" id="otherLangVer">
  </div>
  <div id="category-div" class="label-input-div">
    <label for="categoryVer">Kategorie:</label>
    <select id="categoryVer">
      <option disabled selected value> Kategorie wählen </option>
      <option *ngFor="let category of categories| keys"
          [value]="category.value.name">
        {{category.value.name}}
      </option>
    </select>
  </div>
  <div id="submit-div" class="label-input-div">
    <label for="submit"></label>
    <input type="submit" id="submit" value="Absenden" (click)="submit()">
  </div>
</form>