<form>
  <div id="verbtype-div" class="label-input-div">
      <label for="verbtype">Verbart:</label>
      <select id="verbtype">
        <option disabled selected value> Verbform wählen </option>
        <option value="regelmaeßig">
          Regelmäßiges Verb
        </option>
        <option value="unregelmaeßig">
          Unregelmäßiges Verb
        </option>
        <option value="stark">
          Starkes Verb
        </option>
      </select>
    </div> 
  <div id="german-div" class="label-input-div">
    <label for="german">Deutsches Wort:</label>
    <input type="text" id="german">
  </div>
  <div id="otherLang-div" class="label-input-div">
    <label for="otherLang">Übersetzung:</label>
    <input type="text" id="otherLang">
  </div>
  <div id="category-div" class="label-input-div">
    <label for="category">Kategorie:</label>
    <select id="category">
      <option disabled selected value> Kategorie wählen </option>
      <option *ngFor="let category of categories| keys"
          [value]="category.value.name">
        {{category.value.name}}
      </option>
    </select>
  </div>
  <div id="submit-div" class="label-input-div">
    <label for="submit"></label>
    <input type="submit" id="submit" value="Absenden">
  </div>
</form>