<form>
  <div id="case-div" class="label-input-div">
    <label for="case" id="checkbox-header">Mit Fall:</label>  
    <div class="case-checkbox-div" id="checkbox-column-2">
      <div class="checkbox-div" id="checkbox-div-gen">
        <label for="gen" class="checkbox-label"> Genitiv
          <input type="checkbox" id="gen" class="checkbox" (click)="caseChecked('gen')">
        </label>
      </div>
      <div class="checkbox-div" id="checkbox-div-akk">
        <label for="akk" class="checkbox-label"> Akkusativ
          <input type="checkbox" id="akk" class="checkbox" (click)="caseChecked('akk')">
        </label>
      </div>
    </div>
    <div class="case-checkbox-div" id="checkbox-column-1">
      <div class="checkbox-div" id="checkbox-div-nom">
        <label for="nom" class="checkbox-label"> Nominativ
          <input type="checkbox" id="nom" class="checkbox" (click)="caseChecked('nom')">
        </label>
      </div>
      <div class="checkbox-div" id="checkbox-div-dat">
        <label for="dat" class="checkbox-label"> Dativ
          <input type="checkbox" id="dat" class="checkbox" (click)="caseChecked('dat')">
        </label>
      </div>
    </div>
  </div>
  <div id="german-div" class="label-input-div">
    <label for="german">Deutsches Wort:</label>
    <input type="text" id="german">
  </div>
  <div id="otherLang-div" class="label-input-div">
    <label for="otherLang">Übersetzung:</label>
    <input type="text" id="otherLang">
  </div>
  <div id="category-div" class="label-input-div">
    <label for="category">Kategorie:</label>
    <select id="category">
      <option disabled selected value> Kategorie wählen </option>
      <option *ngFor="let category of categories| keys"
        [value]="category.value.name">
        {{category.value.name}}
      </option>
    </select>
  </div>
  <div id="submit-div" class="label-input-div">
    <label for="submit"></label>
    <input type="submit" id="submit" value="Absenden">
  </div>
</form>