<form>
  <div id="genus-div" class="label-input-div">
      <label for="genusNom">Artikel:</label>
      <select id="genusNom">
        <option disabled selected value> Artikel wählen </option>
        <option value="maskulin">
          Der
        </option>
        <option value="feminin">
          Die
        </option>
        <option value="neutrum">
          Das
        </option>
      </select>
    </div> 
  <div id="german-div" class="label-input-div">
    <label for="germanNom">Deutsches Wort:</label>
    <input type="text" id="germanNom">
  </div>
  <div id="otherLang-div" class="label-input-div">
    <label for="otherLangNom">Übersetzung:</label>
    <input type="text" id="otherLangNom">
  </div>
  <div id="category-div" class="label-input-div">
    <label for="categoryNom">Kategorie:</label>
    <select id="categoryNom">
      <option disabled selected value> Kategorie wählen </option>
      <option *ngFor="let category of categories| keys"
          [value]="category.value.name">
        {{category.value.name}}
      </option>
    </select>
  </div>
  <div id="submit-div" class="label-input-div">
    <label for="submit"></label>
    <input type="submit" id="submit" value="Absenden" (click)="submit()">
  </div>
</form>