.dict {
	margin-left: 4%;
}
li {
	list-style-type: none;
}
ul {
	padding: 0%;
}
.categories {
	background-color: #026db2;
	border-radius: 10px 10px 10px 10px;
	padding: 0px 10px 0px 10px;
	max-width: 500px;
	color: #FFFFFF;
	font-size: 250%;
}
.categories::after {
	content: '\0FF0B';
	color: #FFFFFF;
	float: right;
}
.entries {
	background-color: #FFFFFF;
	color: #000000;
}
.categories.active {
	margin-left: 2%;
}
.categories.active::after {
	content: '\02212';
	color: #FFFFFF;
	float: right;
}
.cat-content {
	display: none;
	overflow: hidden;
}
.voc-header {
	font-weight: bold;
	font-size: 125%;
}

.delete-entry-button {
	width: 50px;
	height: 50px;
}
.delete-category-button {
	width: 50px;
	height: 50px;
}
#searchInput {
	padding: 1%;
	width: 60%;
	font-size: 16px;
	margin-bottom: 2%;
	margin-top: 1%;
	border: 1px solid lightgray;
}

/*Styling of overlay*/

#add-overlay-container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 3;
}
#add-overlay {
	position: absolute;
	display: table-cell;
	top: 30%;
	left: 30%;
	background-color: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 4;
	vertical-align: middle;
	text-align: center;
	padding: 1%;
}
.add-overlay-button {
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 5%;
	left: 50%;
	z-index: 1;
}
.section button {
	background-color: inherit;
	float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.section button:hover {
    background-color: #026db2;
    color: #FFFFFF;
}
.section button.active {
    background-color: #026db2;
    color: #FFFFFF;
}
#category-form {
	display: none;
}
#entry-form {
	display: block;
}
/*Styling of Form*/

#close-overlay {
	float: right;
	margin: 1%;
	cursor: pointer;
	font-size: 250%;
	border-radius: 10%;
	text-align: center;
	vertical-align: middle;
}
#close-overlay:hover {
	background-color: #DDDDDD;
}