<app-dashboard></app-dashboard>
<div class="dict">
	<ul>
		<li *ngFor="let category of categories| keys; let i = index">
			<button class="categories" (click)="hideShow(i);">{{category.value.name}}</button>
			<img src="/assets/img/delete.png" alt="Löschen" class="delete-category-button" (click)="deleteCategory(category.value.name);">
			<div class="cat-content">		
				<p class="voc-header">Deutsch - Englisch</p>
				<ng-container *ngFor="let entry of entries| keys">
				<p *ngIf="(category.value.name==entry.value.category.name)">
					{{entry.value.german}} - {{entry.value.otherLang}} 
				</p>
				<img src="/assets/img/delete.png" alt="Löschen" class="delete-entry-button" (click)="deleteEntry(entry.value.german);">
				</ng-container>
			</div>
		</li>
	</ul>
	<img src="/assets/img/plus.png" alt="Hinzufügen" class="add-overlay-button" (click)="addOverlay();">
</div>
<div id="add-overlay-container">
	<div id="add-overlay">
		<div id="form-header">
			<div class="section">
				<button class="section-button" id="category-button" (click)="showRelevantForm(event, 'category')">Kategorie</button>
				<button class="section-button active" id="entry-button" (click)="showRelevantForm(event, 'entry')">Eintrag</button>
			</div>
			<p id="close-overlay" (click)="addOverlay();">&#215;</p>
		</div>
		<app-category class="section-content" id="category-form"></app-category>
		<app-add-form class="section-content" id="entry-form"></app-add-form>
	</div>
</div>