<div id="add-form">
    <div class="tab">
        <button id="tab-nomen" class="tab-categories" (click)="showCategoryMask(event, 'nomen')">Nomen</button>
        <button id="tab-verb" class="tab-categories" (click)="showCategoryMask(event, 'verb')">Verb</button>
        <button id="tab-conjunction" class="tab-categories" (click)="showCategoryMask(event, 'conjunction')">Konjunktion</button>
        <button id="tab-preposition" class="tab-categories" (click)="showCategoryMask(event, 'preposition')">Präposition</button>
        <button id="tab-others" class="tab-categories" (click)="showCategoryMask(event, 'others')">Sonstiges</button>     
    </div>
    <div id="nomen" class="tab-content">
      <app-nomen></app-nomen>
    </div>
    <div id="verb" class="tab-content">
      <app-verb></app-verb>
    </div>
    <div id="conjunction" class="tab-content">
      <app-conjunction></app-conjunction>
    </div>
    <div id="preposition" class="tab-content">
      <app-preposition></app-preposition>
    </div>
    <div id="others" class="tab-content">
      <app-others></app-others>
    </div>
</div>