<app-dashboard></app-dashboard>
<h2>Vokabeln</h2>
<div id=vocabulary>
  <ul>
    <li>
      <div class="voc-tile" id="voc-category">
        <a routerLink="/test/vocabulary">Nach Kategorien</a>
      </div>
    </li>
    <li>
      <div class="voc-tile" id="voc-type">
        <a routerLink="/test/vocabulary">Nach Wortart</a>
      </div>
    </li>
    <li>
      <div class="voc-tile" id="voc-latest">
        <a routerLink="/test/vocabulary">Neueste Vokabeln</a>
      </div>
    </li>
  </ul>
</div>
<h2>Grammatik</h2>
<ul>
  <li>
    <a routerLink="/test/vocabulary">Zeiten</a>
  </li>
  <li>
    <a routerLink="/test/grammar">Fälle</a>
  </li>
  <li>
    <a routerLink="/test/grammar">Pronomen</a>
  </li>
</ul>