<div class="menu" id="menu">
	<a routerLink="/dashboard">
		<img src="/assets/img/home.png" alt="home" id="home" width=75px; height=50px;>
	</a>
	<div class="account">
		<div class="score">
			<span id="points">0</span>
			<img src="/assets/img/score.png" alt="score" width=50px; height=50px;>
		</div>
		<div class="dropdown-profile">
			<img src="/assets/img/profile.png" alt="profile" width=50px; height=50px;>
			<div class=	"dropdown-profile-content">
				<div class="edit">
					<span id="edit-span">Konto bearbeiten</span>
					<img src="/assets/img/edit.png" alt="Bearbeiten" id="edit-img" width=20px; height=20px;>
				</div>
				<div class="sign-out">
					<span id="sign-out-span">Abmelden</span>
					<img src="/assets/img/sign_out.png" alt="Abmelden" id="sign-out-img" width=20px; height=20px;>
				</div>
			</div>	
		</div>
	</div>
</div>